---
import { Code } from 'astro/components';
export interface Props {
    code: string;
    lang: any;
}

const {code, lang} = Astro.props;
---

<Code lang={lang} code={code} theme="dracula-soft" />
<!-- spacer -->
<div class="p-2"></div>
