---
import HeaderLink from './HeaderLink.astro';
---

<header class="text-center md:flex md:justify-between items-center md:py-4">
	<a href="/" class="flex justify-center pr-6 md:pr-0 items-center">
		<img src="/hy3nalogo.png" width="56" height="56" alt="hy3na-logo">
		<span class="text-sm md:text-lg font-bold">hy3na at sakariba</span>
	</a>
	<nav class="text-base pt-6 md:text-lg md:pt-0 font-bold">
		<HeaderLink href="/about">About</HeaderLink>
		<HeaderLink href="/about">Contact</HeaderLink>
		<HeaderLink href="https://github.com/hyena459">GitHub</HeaderLink>
	</nav>
</header>
<style>
	header {
		margin: 0em 0 2em;
	}

	a {
		text-decoration: none;
		color: black;
	}
	
	h2 {
		margin: 0.5em 0;
	}
</style>
