---
export interface Props {
imageUrl: string;
}

const { imageUrl } = Astro.props;
---

<div class="image flex justify-center">
  <div class="flex pb-3 basis-2/3 md:basis-full max-w-max">
    <img src={imageUrl} />
  </div>
</div>